:root {
  --primary-color-text: #ffffff;
  --secondary-color-text: #d88862;
  --shadow-color-text: #cac9bb;
  --item-selected-color: #dae26d;
  --secondary-color-background: #08352e;
  --primary-color-background: #1c2e96;
  --primary-colorlight-background: #4058df;
  --opacity: rgba(0, 0, 0, 0.363);
  --border-color: #cad7e0;
}
