:root {
  --primary-color-text: #ffffff;
  --secondary-color-text: #d88862;
  --shadow-color-text: #cac9bb;
  --item-selected-color: #dae26d;
  --secondary-color-background: #08352e;
  --primary-color-background: #1c2e96;
  --primary-colorlight-background: #4058df;
  --opacity: rgba(0, 0, 0, 0.363);
  --border-color: #cad7e0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.6;
  background-size: cover;
}

.header {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 30;
}

.nav-logo {
  width: 15%;
  padding: 10px;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px 0;
  justify-content: space-around;
  min-height: 8vh;
  background-color: var(--primary-color-background);
}

.menu-links {
  flex-direction: column;
  padding: 0;
  justify-content: normal;
  align-items: center;
  height: 91vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  opacity: 0;
}
.menu-links__section {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.menu-links__section:hover {
  background-color: var(--primary-colorlight-background);
}
.menu-links li {
  text-decoration: none;
  font-size: 2.1rem;
  color: var(--primary-color-text);
  font-weight: 600;
}
.menu-links li:hover {
  color: var(--item-selected-color);
}

.handmade-icon {
  display: block;
  position: absolute;
  top: 18px;
  right: 32px;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition: 0.2s 0.1s;
}
.handmade-icon:hover {
  transform: rotate(360deg);
}
.handmade-icon span {
  display: block;
  background-color: var(--primary-color-text);
  height: 3px;
  width: 28px;
  margin: 5px auto;
  border-radius: 2px;
}

@keyframes menuShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-links.activated {
  display: flex;
  animation: menuShow 400ms ease-in-out both;
}

.brtop.animed {
  transform: rotate(45deg);
}

.brmid.animed {
  opacity: 0;
}

.brbot.animed {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .handmade-icon {
    display: none;
  }
  .nav-menu {
    flex-direction: row;
    align-items: center;
  }
  .nav-logo {
    width: 100px;
    margin-left: 15px;
  }
  .menu-links {
    display: contents;
  }
  .menu-links li {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media (min-width: 950px) {
  .handmade-icon {
    display: none;
  }
  .nav-logo {
    width: 80px;
    margin-left: 15px;
    padding: 10px;
  }
  .nav-menu {
    flex-direction: row;
    align-items: center;
  }
  .menu-links {
    display: contents;
  }
  .menu-links li {
    font-size: 2.1rem;
    cursor: pointer;
  }
  .menu-links li.activated {
    background-color: var(--shadow-color-text);
  }
}
.main {
  margin-top: 9rem;
}

.section {
  isolation: isolate;
  z-index: 1;
  position: relative;
  padding-bottom: 50px;
}
.section__image {
  width: 100%;
  height: 100%;
  padding: 0 8%;
}
.section__btn {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__btn a {
  color: var(--primary-color-text);
  padding: 10px;
  background-color: var(--primary-colorlight-background);
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid var(--primary-color-background);
}
.section__tittle {
  text-transform: uppercase;
  color: var(--primary-color-background);
  font-size: 20px;
}
.section__text {
  padding: 0 30px;
  font-size: 12px;
}

hr {
  width: 80%;
}

#section-1 {
  margin-top: -10px;
}

@media (min-width: 768px) {
  .section__btn {
    top: 75%;
  }
  .section__text {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 14px;
  }
}
@media (min-width: 950px) {
  .section__btn {
    top: 80%;
  }
  .section__text {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 14px;
  }
}
.footer-content {
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 5px 5px 5px;
  background-color: var(--primary-color-background);
}
.footer-content .footer-contact {
  color: var(--primary-color-text);
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.footer-content .footer-contact:hover {
  color: var(--item-selected-color);
  cursor: pointer;
}

.footer-rrss {
  display: flex;
  justify-content: center;
}
.footer-rrss__icon {
  padding: 0 30px;
}
.footer-rrss__icon:hover {
  cursor: pointer;
}

.footer-map {
  display: none;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.footer-copyright__text {
  font-size: 10px;
  color: var(--shadow-color-text);
}

@media (min-width: 768px) {
  .footer-content .footer-contact {
    font-size: 21px;
  }
  .footer-copyright__text {
    font-size: 13px;
  }
  .footer-map {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
  }
}
@media (min-width: 950px) {
  .footer-content .footer-contact {
    font-size: 26px;
  }
  .footer-copyright__text {
    font-size: 15px;
  }
  .footer-map {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
  }
}
/* The Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color-text);
  background-color: var(--opacity);
}

/* Modal text*/
.modal-content {
  background-color: var(--primary-color-background);
  margin: 30% auto;
  border: 5px solid var(--primary-color-text);
  width: 80%;
  height: 13%;
}
.modal-content p {
  text-decoration: none;
  font-size: 2.1rem;
  color: var(--primary-color-text);
  font-weight: 600;
}

/* Modal Button */
.close {
  color: var(--primary-color-text);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover, .close:focus {
  color: var(--item-selected-color);
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-content {
    width: 45%;
    height: 8%;
  }
}
@media (min-width: 950px) {
  .modal-content {
    width: 30%;
    height: 10%;
  }
}
.slider {
  background-color: var(--primary-color-text);
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25rem;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide h5 {
  font-style: italic;
  font-size: 20px;
  color: var(--primary-color-background);
  margin-bottom: 10px;
}
.slide h6, .slide p {
  font-size: 16px;
  color: var(--primary-color-background);
  margin-top: -10px;
  margin-bottom: 20px;
}

.slider__btn {
  font-weight: 100;
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--primary-color-text);
  font-family: inherit;
  color: var(--secondary-color-background);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots__dot {
  border: none;
  background-color: var(--primary-colorlight-background);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: var(--primary-color-background);
  opacity: 1;
}

.company-card p {
  font-size: 25px;
  font-weight: 900;
  text-decoration: underline;
  color: var(--primary-colorlight-background);
}

@media (min-width: 768px) {
  .slider {
    border: none;
  }
}
@media (min-width: 950px) {
  .slider {
    border: 1px solid var(--border-color);
  }
}

/*# sourceMappingURL=style.css.map */
